* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

html,
body {
    height: calc(100%);
    display: flex;
    flex-direction: column;
    background-color: black;
}

/* Nav bar stuff */
.navbar {
    width: calc(100% - 2em);
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-direction: row; */
    background-color: white;
    color: black;
    border-radius: 1em;
    margin: 1em;
}
/* Header */
.navbar header {
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
}
.navbar header h2 {
    font-size: 2em;
}
.navbar header img {
    height: 70%;
    width: auto;
}
.navbar .items {
    z-index: 2;
}
.navbar .links {
    gap: 0.5vw;
    padding: 0;
    width: 100%;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    padding-right: 1em;
}

.navbar .links a {
    text-align: center;
    align-items: center;
    padding: 0.5em;
}
/* The hidden hamburger icon */
.navbar .icon {
    display: none;
    padding: 0.5em;
    transition: 500ms;
}

/* Change the link color to #111 (black) on hover */
.navbar a.link:hover {
    background-color: black;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}
.navbar a.icon:hover {
    background-color: grey;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}
/* The responsive CSS code to change the navbar styles */
@media screen and (max-width: 1150px) {
    .navbar .links {
        display: none; /* Hide list items */
    }

    .navbar .icon {
        display: block; /* Show the hamburger icon */
        margin-right: 4em;
        margin-left: 4em;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
    }

    .navbar .items:hover .links {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        background-color: white;
        border-radius: 0.5em;
        padding-left: 0;
        z-index: 10;
        transition: 500ms;
        padding: 1em;
    }
}

/* Main content */
.main {
    flex-grow: 1;
}
section {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    color: white;
}
.content h1 {
    text-align: center;
    font-size: 2em;
}

/* Search CSS */
#nzsl-search {
    margin-bottom: 1em;
    border-radius: 0.5em;
    width: 100%;
    height: 3em;
}

/* Sign CSS */
#nzsl-signs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}
#nzsl-signs .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em;
    gap: 1em;
    width: calc(25%-2em);
    color: black;
    text-wrap: wrap;
    font-size: 1em;
    transition: 300ms;
}
#nzsl-signs .sign:hover {
    box-shadow: 0 0 20px 10px grey;
}
#nzsl-signs .sign img {
    width: 40%;
    background-color: white;
}

/* Event CSS */
#nzsl-events {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em;
}
#nzsl-events .event {
    background-color: white;
    color: black;
    border-radius: 0.5em;
    padding: 1em;
    transition: 500ms;
}
#nzsl-events .event:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 20px 10px grey;
}

/* Comments */
#nzsl-comments {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    text-wrap: wrap;
    word-break: break-all;
}
#nzsl-comments p {
    background-color: white;
    color: black !important;
    border-radius: 0.5em;
    padding: 1em;
    transition: 500ms;
    text-wrap: wrap;
}
#nzsl-comments p:hover {
    background-color: black;
    color: white !important;
    box-shadow: 0 0 20px 10px grey;
}

/* Forms and text fields */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em;
}
form input {
    width: 100%;
    height: 4em;
    border-radius: 0.5em;
    font-size: 1em;
}
form textarea {
    width: 100%;
    height: 4em;
    font-size: 1em;
}
form button {
    height: 2em;
    width: 20%;
    font-size: 1em;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
    width: 100%; /* Ensure that the footer takes 100% of the width */
    padding-bottom: 1em;
    align-items: center;
    text-align: center;
    color: white;
}
